---
layout: default
navId: archives
title: 归档
---
<div class="row">
    <div class="col-md-9" role="main">
        <div class="page-header">
        	<h1>{{ page.title }}</h1>
        </div>
        {% for post in site.posts %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
            {% if month != nmonth %}
                <div id="{{ post.date | date: '%Y-%m' }}" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ post.date | date: '%Y-%m' }}</h4>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>
                                {{ post.date | date:"%Y-%m-%d" }} --- 
                                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ page.title }}</h3>
            </div>
            <ul class="nav nav-pills nav-stacked">
                {% for post in site.posts %}
                    {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
                    {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                    {% if month != nmonth %}
                        <li>
                            <a href="#{{ post.date | date: '%Y-%m' }}">
                                <i class="fa fa-file"></i>&nbsp;{{ post.date | date: '%Y-%m' }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>