---
layout: default
navId: archives
title: 归档
---
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            {% for tag in site.tags %}
            <li>
                <a href="#{{ tag[0] }}">
                    <span class="badge pull-right">{{ tag[1].size }}</span>
                    <i class="fa fa-archive"></i>&nbsp;{{ tag[0] }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9" role="main">
        <div class="page-header" style="margin-top: 0px">
        	<h1 style="margin-top: 0px">{{ page.title }}</h1>
        </div>
        {% for post in site.posts %}
        {{ post.date | date: "%Y-%m-%d" }} --- [{{ post.title }}]({{ site.baseurl}}{{ post.url }}) 
        {% endfor %}
    </div>
</div>