---
layout: default
navId: archives
title: 归档
---
<div class="row">
    <div class="col-md-9" role="main">
        <div class="page-header">
        	<h1>{{ page.title }}</h1>
        </div>
        {% for post in site.posts %}
            {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
            {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
            {% if month != nmonth %}
                {% if forloop.index != 1 %}</ul>{% endif %}
                <h3>{{ post.date | date: '%B %Y' }}</h3><ul>
            {% endif %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            <time>{{ post.date | date: "%e %B %Y" }}</time>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ page.title }}</h3>
            </div>
            <ul class="nav nav-pills nav-stacked">
                {% for tag in site.tags %}
                <li>
                    <a href="#{{ tag[0] }}">
                        <span class="badge pull-right">{{ tag[1].size }}</span>
                        <i class="fa fa-file"></i>&nbsp;{{ tag[0] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>