---
layout: default
navId: home
---
<div class="row">
    <div class="col-md-9" role="main">
        {% for post in paginator.posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <a href="{{ site.ctx }}{{ post.url }}">{{ post.title }}</a>
                </h4>
            </div>
            <div class="panel-body">{{ post.excerpt }}</div>
            <div class="panel-footer text-right">
                <small>发表时间：{{ post.date | date: "%Y-%m-%d" }}</small>
                <span id="sourceId::{{ post.sid }}" class="cy_cmt_count"></span>
            </div>
        </div>
        {% endfor %}
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="{{ site.ctx }}{%if page > 1 %}/page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">分类</h3>
            </div>
            <ul class="ds-recent-visitors" data-num-items="10"></ul>
            <ul class="nav nav-pills nav-stacked">
                {% for category in site.categories %}
                <li>
                    <a href="{{ site.ctx }}/categories#{{ category[0] }}">
                        <span class="badge pull-right">{{ category[1].size }}</span>
                        <i class="fa fa-list"></i>&nbsp;{{ category[0] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">标签</h3>
            </div>
            <ul class="ds-recent-comments" data-num-items="10"></ul>
            <ul class="nav nav-pills nav-stacked">
                {% for tag in site.tags %}
                <li>
                    <a href="{{ site.ctx }}/tags#{{ tag[0] }}">
                        <span class="badge pull-right">{{ tag[1].size }}</span>
                        <i class="fa fa-tag"></i>&nbsp;{{ tag[0] }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>