---
layout: default
navId: home
---
<div class="row">
    <div class="col-md-9" role="main">
        {% for post in paginator.posts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <a href="{{ site.ctx }}{{ post.url }}">{{ post.title }}</a>
                </h4>
            </div>
            <div class="panel-body">{{ post.excerpt }}</div>
            <div class="panel-footer text-right">
                <small>发表：{{ post.date | date: "%Y-%m-%d" }}</small>
                <small>评论：<span class="ds-thread-count" data-thread-key="{{ post.id }}" data-count-type="comments"></span></small>
                <small>
                	标签：
                	{% for tag in post.tags %}
                    <a href="{{ site.ctx }}/tags#{{ tag[0] }}">{{ tag[0] }}</a>&nbsp;
	                {% endfor %}
                </small>
            </div>
        </div>
        {% endfor %}
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="active"><span>{{ page }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="{{ site.ctx }}{%if page > 1 %}/page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">热评文章</h3>
            </div>
            <ul class="ds-top-threads" data-range="monthly" data-num-items="10"></ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">最新评论</h3>
            </div>
            <ul class="ds-recent-comments" data-num-items="10"></ul>
        </div>
    </div>
</div>