---
layout: default
navId: tags
title: 标签
---
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ page.title }}</h3>
            </div>
            <ul class="nav nav-pills nav-stacked">
	            {% for tag in site.tags %}
	            <li>
	                <a href="#{{ tag[0] }}">
	                    <span class="badge pull-right">{{ tag[1].size }}</span>
	                    <i class="fa fa-tag"></i>&nbsp;{{ tag[0] }}
	                </a>
	            </li>
	            {% endfor %}
	        </ul>
        </div>
    </div>
    <div class="col-md-9" role="main">
    	{% for tag in site.tags %}
    	<table class="table">
    		<thead>
    			<tr>
    				<th>{{ tag[0] }}</th>
    			</tr>
    		</thead>
    		<tbody>
    			{% for post in tag[1] %}
    			<tr>
    				<td>
    					{{ post.date | date:"%Y-%m-%d" }} --- <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    				</td>
    			</tr>
    			{% endfor %}
    		</tbody>
    	</table>
    	{% endfor %}
    </div>
</div>
