<footer>
    <p>Designed by Jnoee.</p>
</footer>
<script src="{{ site.baseurl }}/assets/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="http://assets.changyan.sohu.com/upload/changyan.js?conf={{ changyan.conf }}&appid={{ changyan.appid }}"></script>
<script src="http://assets.changyan.sohu.com/upload/plugins/plugins.count.js"></script>
<script src="http://assets.changyan.sohu.com/upload/tools/cy_cmt_count.js?clientId={{ changyan.appid }}">
</script>