<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ site.baseurl }}" class="navbar-brand">Jnoee Blog</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li{% if page.title == "首页" %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/index">首页</a>
                </li>
                <li{% if page.title == "文章列表" %} class="active"{% endif %}>
                    <span class="glyphicon glyphicon-list"></span>
                    <a href="{{ site.baseurl }}/blog-list">文章列表</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li{% if page.title == "关于" %} class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/about">关于</a>
                </li>
            </ul>
        </nav>
    </div>
</header>