body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, sans-serif;
}

html, body {
	overflow-x: hidden;
}

body {
	padding-top: 70px;
}

footer {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 30px;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
}

.blog-title {
	border-bottom: 1px solid #eee;
}

.blog-list {
	list-style: decimal;
}

.blog-list li {
	line-height: 24px;
}
