<!DOCTYPE html>
<html lang="zh">
    <head>
        {% include header.html %}
    </head>
    <body>
        <a class="sr-only" href="#content">Skip to main content</a>
        {% include nav-main.html %}
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group" role="navigation">
                    	<a href="#" class="list-group-item active">Link</a>
                    	<a href="#" class="list-group-item">Link</a>
                    </div>
                </div>
                <div class="col-md-9" role="main">
                    {{ content }}
                </div>
            </div>
        </div>
        <footer class="bs-footer" role="contentinfo">
            <div class="container">
                <p>
                    Designed by Jnoee.
                </p>
            </div>
        </footer>
        {% include footer.html %}
    </body>
</html>