<!DOCTYPE html>
<html lang="zh">
    <head>
        {% include header.html %}
    </head>
    <body>
        <a class="sr-only" href="#content">Skip to main content</a>
        {% include nav-main.html %}
        <div class="container bs-docs-container">
            <div class="row">
                <div class="col-md-3">
                    <div class="bs-sidebar hidden-print" role="complementary">
                        <ul class="nav bs-sidenav">
                            {% if page.layout == "default" %}
                            {% include nav-default.html %}
                            {% elsif page.layout == "post" %}
                            {% include nav-post.html %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9" role="main">
                    {{ content }}
                </div>
            </div>
        </div>
        <footer class="bs-footer" role="contentinfo">
            <div class="container">
                <p>
                    Designed by Jnoee.
                </p>
            </div>
        </footer>
        {% include footer.html %}
    </body>
</html>