<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blog.css" />
        <title>
            {% if page.title == null %}
                {{ site.name }}
            {% else %}
                {{ page.title }}
            {% endif %}
        </title>
    </head>
    <body>
        {% include header.html %}
        <div class="container">
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>